language: rust

matrix:
  include:
    - name: "Golang Lint"
      language: go
      go: "1.11"
      env:
        - GO111MODULE=on
        - GOLANGCI_RELEASE="v1.10.2"
      before_script:
        - go get -u github.com/golangci/golangci-lint/cmd/golangci-lint
      script:
        - make go-lint
    - name: "Golang Example"
      language: generic
      os: linux
      services: docker
      script:
        - make go-docker-test 
    - name: "Linux Build and C++ Example"
      os: linux
      rust: nightly
      before_script:
        - rustup component add rustfmt-preview
        - rustup component add clippy-preview
        - sudo apt-get update
        - DEBIAN_FRONTEND=noninteractive sudo apt-get install -y valgrind
      script:
        - cargo fmt -- --check
        - cargo clippy
        - cargo build
        - make examples/cpp.out
        - valgrind --leak-check=yes --error-exitcode=1 ./examples/cpp.out
    - name: "OSX Build"
      os: osx
      rust: nightly
      script:
        - cargo build
        - make examples/cpp.out
        - ./examples/cpp.out
    - name: "Windows Build"
      os: windows
      rust: nightly
      script:
        - cargo build
    - name: "Android Build"
      os: linux
      rust: nightly
      before_script:
        - rustup target add arm-linux-androideabi
        - wget https://dl.google.com/android/repository/android-ndk-r18b-linux-x86_64.zip -O ndk.zip
        - echo "500679655da3a86aecf67007e8ab230ea9b4dd7b  ndk.zip" | sha1sum --check
        - unzip ndk.zip > /dev/null
        - export NDK_HOME=`pwd`/android-ndk-r18b
        - ${NDK_HOME}/build/tools/make_standalone_toolchain.py --arch arm --api 18 --install-dir android-18-armv7-toolchain
        - export PATH="$PATH:$(pwd)/android-18-armv7-toolchain/bin/"
        - ls android-18-armv7-toolchain/bin/
        - mkdir .cargo
        - echo "[target.arm-linux-androideabi]" >> .cargo/config
        - echo "linker = \"`pwd`/android-18-armv7-toolchain/bin/arm-linux-androideabi-gcc\"" >> .cargo/config
        - echo "ar = \"`pwd`/android-18-armv7-toolchain/bin/arm-linux-androideabi-ar\"" >> .cargo/config
        - cat .cargo/config
      script:
        - cargo build --target arm-linux-androideabi
